body {
  background-color: black;
  text-align: center;
}

img {
  display: block;
  margin: auto;
  width: 200px;
}

button {
  outline: none;
  background: aliceblue;
  margin: 16px 0;
  font-size: 50px;
  cursor: pointer;
  border-radius: 20%;
  padding: 1%;
}
